<<<<<<< HEAD
.header {
    font-family: EBGaramond ;
}

.movie {
    font-family: Nanum Gothic ;

}

.box {
    box-shadow: 10px 10px 10px 10px black;
    margin-left: 50px;
    width: 100px;
}

.book {
    font-family: Nanum Gothic ;

}

.button {
    background-color: blueviolet;
    color: azure;
    margin-left: 946px;
    margin-bottom: 10px;
    position: absolute;
}

.search {
    margin-left: 776px;
    margin-top: 10px;
    position: absolute;
}

.box2 {
    box-shadow: 10px 10px 10px 10px black;
margin-right: 50px;
height: 800px;

}
=======
#fancy-font {
/* font-family: 'unifrakturMaguntia'; */
font-family: 'Great Vibes', cursive;
}

>>>>>>> main
