html,body {
    font-family:EBGaramond ;
    height: 100%;
}

#fancy-font {
font-family: 'Great Vibes', cursive;
}

.movie {
    font-family: Nanum Gothic ;

}

/* .box {
    box-shadow: 5px 5px 5px 5px black;
    margin-left: 50px;
    width: 100px;
} */

.hide {
    display: none;
}

.book {
    font-family: Nanum Gothic ;

}

/* .button {
    background-color: blueviolet;
    color: azure;
    margin-left: 946px;
    margin-bottom: 10px;
    position: absolute;
} */
/* 
.search {
    margin-left: 776px;
    margin-top: 10px;
    position: absolute;
} */